*{
margin:0;
padding:0;

}
:root{
    --black:#2D2D2D;
    --white:#F3F3F3;
    --myfont:Epilogue, sans-serif;
    --mysmallfont:17px;
    --mynormalfont:20px;
    --mymainfont:27px;
    --myboldfont:68px;

}

.anima{
    background-color: gray;
    color:var(--white) ;
    margin-bottom: 6px;
    padding: 6px;
    display:flex;
    justify-content: space-between;
    box-shadow: var(--black);
    height: auto;
    width: auto;


    
}
.animas{
    margin: 9px;
    


}
.animas img{
    width: 100px;
    height: 40px;
}
h4 .anima-text{
 font-size: var(--mysmallfont);
font-family: var(--myfont);
   color: var(--white);
   font-family: var(--myfont);
    
}
.anima-text a.uh{
    color: red;
    text-decoration: none;



}
.animas button{
    width: 100px;
    padding: 9px;
    height: 40px;
    cursor: pointer;



}
.animas .free{
    border-radius: 16px;
    text-align: center;
    border-style: none;
    color: var(--white);
    background-color: red;
}

header{
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
    margin-bottom: 70px;
}
.hero{
   float: left;
    margin: 10px;
    padding: 5px;


}
.logo{
    color: var(--black);
    font-family: var(--myfont);
    font-size: var(--mynormalfont);
    line-height: 30px;
    font-weight: 600;
}
.navbar{
    margin: 10px;
    float: right;
    padding: 5px;



}
ul{
    justify-content: center;
    align-items: center;
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 30px;
    float: left;
    transition: 0.5s ease-in-out;
    font-size: var(--mynormalfont);
    font-family: var(--myfont);


}
li a{
    text-decoration: none;
    color: var(--black);
    font-family: Epilogue;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
 leading-trim: NONE;
 line-height: 27px;
 letter-spacing: 0%;
 vertical-align: middle;

    

}
main{
    width: auto;
    height: auto;
    padding: 20px;
    margin-top: 30px;
}
 main .left-main{
    color: var(--black);
    font-family: var(--myfont);
    padding: 10px;
    float: left;
    
    
}
.left-main h3{
    margin-bottom: 20px;
    font-size: var(--mynormalfont);
    padding: 10px;
     line-height: 30px;
    font-weight: 600;
    font-family: var(--myfont);

    
}
.left-main h2{
   
    font-size: 32px;
    padding: 10px;
     line-height: 42px;
    font-weight: 600;
    font-family: var(--myfont);

    
}
.left-main h1{
    margin-bottom: 30px;
    font-size: var(--myboldfont);
    padding: 10px;
     line-height: 30px;
    font-weight: 600;
    font-family: var(--myfont);
}
.left-main p{
    margin-bottom: 10px;
    font-size: var(--mysmallfont);
    padding: 10px;
    line-height: 27px;
    font-weight:400 ;
    font-family: var(--myfont);
}

.left-main button{
    color: #ffff;
    margin: 6px;
    margin-top:20px;
    cursor: pointer;
    border-style: none;
    background-color: var(--black);
    padding: 25px;
    width: 200px;
    font-size: var(--mynormalfont);
    font-weight: 600;
    line-height: 30px;
    font-family: var(--myfont);

}
.right-main{
    float: right;
}
.right-main img{
    width: 450px;
    height: auto;
}
.brand{
    width: auto;
    padding: 5px;
}
.brand img{
    width: 100%;
}
.designs{
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.design{
    padding: 10px;
    align-items: center;
    margin: 5px;
}
.design img{
    width: 120px;
    height:auto;
    margin-bottom:10px;
    padding: 10px;
}
.design h3{
    margin-bottom:10px;
    font-size:var(--mymainfont);
    padding: 10px;
    font-weight: 600;
    line-height: 42px;
    font-family: var(--myfont);
}
.design p{
     margin-bottom: 10px;
    font-size: var(--mysmallfont);
    padding: 10px;
    line-height: 27px;
    font-family: var(--myfont);
}
.latest{
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;    
    margin-top:20x ;
}
.latest h3{
    margin-bottom: 10px;
    font-size: var(--mymainfont);
    padding: 10px;
    font-family: var(--myfont);
    font-size: 32px;
    line-height: 42px;
    font-weight: 600;
}
.works{
    /* width: auto;
    height: auto; */
    padding: 5px;
    display: flex;
       flex-direction: row;
    justify-content: space-around;
      flex-wrap: wrap;
}
.work{
    padding: 10px;
    align-items: center; 
    /* width: 100%; */
}
.work img{
    width: 400px;
    height: 350px;
    margin-bottom:10px;
    padding: 10px;

}
.work h3{
    margin-bottom:5px;
    font-size:var(--mymainfont);
    padding: 10px;
    text-align: left;
    padding: 10px;
    font-weight: 600;
    line-height: 42px;
    font-family: var(--myfont);

}
.work h5{
   margin-bottom: 5px;
    font-size: var(--mysmallfont);
    padding: 10px;
    text-align: left;
    font-weight: 400;
    line-height: 27px;
    font-family: var(--myfont);
}
.testimonial{
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.testimony{
    padding: 10px;
    margin: 10px;
    align-items: center; 
    background-color: aliceblue;
}
.testimony img{
    width: 50px;
    height: 50px;
    margin-bottom:10px;
    padding: 10px;
    border-radius: 50px;

}
.testimonial h3{
    margin-bottom:5px;
 
    padding: 10px;
    text-align: center;
    font-size:var(--mf);
    font-weight: 600;
    line-height: 42px;
    font-family: var(--myfont);

}
.testimonial h4{
    padding: 10px;
    text-align: center;
    font-size:var(--mynormalfont);
    font-weight: 600;
    line-height: 42px;
    font-family: var(--myfont);

}
.testimonial h5{
    margin-bottom: 5px;
    font-size: var(--mynormalfont);
    text-align: left;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--myfont);
}
.testimonial p{
    
    font-size: var(--mysmallfont);
    text-align: left;
    font-weight: 400;
    line-height: 30px;
    font-family: var(--myfont);
}
.test{
    margin: 5px;
    padding: 10px;
   align-items: center;
}
.tests{
    display: flex;
    margin-top: 20px;
}
.tes{
    display: block;
}
.icons i{
    padding: 5px;
    margin: 5px;
    width: 27px;
    height: 27px;
}
form{
    margin: 20px;
}
form input{
   margin: 5px;
    padding: 10px;
    width: 100%;
}
form input::placeholder{
    margin: 10px;
    color: var(--black);
    font-size: var(--mysmallfont);
}
form button{
    color: #F3F3F3;
    margin: 6px;
    margin-top:20px;
    cursor: pointer;
    border-style: none;
    background-color: var(--black);
    padding: 25px;
    width: 200px;
    font-size: var(--mynormalfont);

}
div .spacer{
    height: 3800px;
}


@media only screen and (max-width: 600px){
    span{
        display: none;
    }
    /* .designs{
        flex-direction: column;
        justify-content: space-evenly;
    }
    .design{
margin: 20px;
    } */
}
